@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#root {
  height: 100vh;
}

.app {
  font-family: 'Lato', sans-serif;
  text-align: center;
  top: calc(50vh - 200px);
  width: 100%;
  position: absolute;
}

.app.not-ready {
  opacity: 0.2;
}

.app .ant-select, .app .ant-picker {
  width: 100%;
}

.app .inputs {

}

.app .input-wrap {
  display: inline-block;
  text-align: left;
  min-width: 160px;
  padding: 8px;
}

.app .input-wrap label {
  display: block;
  color: #999;
  padding-bottom: 4px;
}

.app .result {
  font-size: 80px;
  color: #333;
}

.app .result .sub-result {
  font-size: 14px;
  color: #999;
}

.app .result .sub-result span {
  color: #333;
}

.app.loading .result {
  opacity: 0.2;
}

.app .error {
  color: red;
}

@media screen and (max-width: 1000px) {
  .app .result {
    font-size: 60px;
  }
}

@media screen and (max-width: 660px) {
  .app {
    position: relative;
    top: 24px;
  }
  .app .input-wrap {
    display: block;
  }
  .app .result {
    margin-top: 24px;
  }
}